* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(#840101,black)
}

p {
    font-size: 70%;
    margin: 4px;
    
}

h1 {
    
    color: #840101;
    margin: 4px;
}

img {
    width: 100%;
    padding: 20px;

}

.single-column {
    background-color: #dddddd;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.button {
    text-decoration: none;
    color: white;
    display: inline-block; /* VERY IMPORTANT! */
}

.primary {
    background-color:  #840101;
    color: white;
    padding: 12px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 12px;
}

.secondary {
    color: #840101;
    border: 3px solid #840101;
    padding: 12px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 12px;
    margin: 20px;
}