* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-column {
    /* background-color: lightblue; */
    width: 250px;
    order: 2;
    padding: 18px;
}

#main-column {
    /* background-color: lightcoral; */
    flex: 1;
    order: 1;
}

#sidebar-column h2 {
    background-color: green;
    padding: 12px;
    font-size: 18px;
    color: white;
    margin: 0px;
}

#sidebar-column ul {
    background-color: #EFEFEF;
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
    border: 1px solid green;
}

#sidebar-column a {
    color: green;
    text-decoration: none;
}

#sidebar-column li {
    padding: 8px 0px;
    border-top: 1px solid  green;
}

#sidebar-column li:last-child {
    border-bottom: 0px;
}