* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Cursive;
    background-color: #C9B79C;
}

.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
    background-color: #83C9F4;
}

.color {
    margin: 0px;
    padding: 24px;
}

#cp1c1 {
    background-color: #83C5BE;
    
}

#cp1c2 {
    background-color: #006D77;
}

#cp1c3 {
    background-color: #EDF6F9;
}

#cp2c1 {
    background-color: #FE218B;
}

#cp2c2 {
    background-color: #FED700;
}

#cp2c3 {
    background-color: #21B0FE;
}

#cp3c1 {
    background-color: #064789;
}

#cp3c2 {
    background-color: #427AA1;
}

#cp3c3 {
    background-color: #EBF2FA;
}